body {
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  margin-top: 72px;
  scroll-margin-top: 72px;
  height: calc(100vh - 72px);
  scroll-snap-align: start;
}
